{% extends "notey/base.html" %}
{% load static %}


{% block content %}
<h3 class="create">Create new note</h3>

<form action="" method="POST">

  {% csrf_token %}  
    
  <!-- {% for field in note %}
    <div class="input-field" {% if field.errors %}input-invalid{% endif %}>
      {{ field.label_tag }}
      {% for error in field.errors %}
        <div class="text-error"><small>{{ error }}</small></div>
      {% endfor %}
    
      {{ field }}

    </div>
  
  {% endfor %} -->

  {{ form.as_ul }}

  <button class="create-note" type="submit">Create Note</button>

</form>

{% endblock %}