* {
  font-family: sans-serif, 'Courier New', Courier, monospace, 'Liu Jian Mao Cao', cursive, 'Shadows Into Light', cursive;
  background-color: rgb(240, 221, 197);
  max-width: 90%;
  justify-items: center;
}

.main-header {
  margin-left: 2rem;
  border-bottom: solid;
  margin-bottom: 2.5rem;
}

h1 a{
  /* text-decoration: none; */
  margin-left: 2rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-bottom: 2rem;
}

.note-title, .note-title a{
  font-family: 'Shadows Into Light', cursive;
  margin-left: 1.5rem;
  font-size: 2rem;
  padding-top: 0.5rem;
}

h3, h3 a{
  font-family: 'Shadows Into Light', cursive;
  margin-left: 5.5rem;
  font-size: 2.0rem;
  padding-top: 0.5rem;
}

p {
  font-family: 'Shadows Into Light', cursive;
  padding-left: 4rem;
  margin-left: 5.5rem;
  font-size: 1.30rem;
}

.new-note-link a{
  font-family: 'Shadows Into Light', cursive;
  padding-left: 4rem;
  font-size: 1.25rem;
}

label {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

form {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title"
    "description description description description";
}

button .edit-button {
  font-family: 'Shadows Into Light', cursive;
  
}

.delete-button {
  font-family: 'Shadows Into Light', cursive;
}
